* {
	box-sizing: border-box;
}

.profile {
	position: relative;
	cursor: pointer;
}

.profile-img_container {
	width: 1.68rem;
	height: 1.68rem;
	border-radius: 50%;
	box-shadow: 0 0 0 4px #343A40,
		0 0 0 5.5px white;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-img {
	height: 100%;
}

.profile-settings {
	position: absolute;
	list-style: none;
	padding: 0;
	top: 100%;
	right: 50%;
	opacity: 0;
	transform: translate(50%, 10%) scaleY(0);
	transform-origin: top;
	transition: all .15s ease;
	display: flex;
	flex-direction: column;
	z-index: 3;
	width: 7rem;
}

.profile-settings.active {
	transform: translate(50%, 10%) scaleY(1);
	opacity: 1;
}

.profile-settings>.nav-link {
	display: block;
	text-align: center;
	cursor: pointer;
	transition: all .3s ease;
	width: 100%;
	background: #343A40;
}

.profile-settings>.nav-link:hover {
	background: #3e454d;
}

.imgInput,
.imgInputData,
.form-group.upload-grp,
.form-group.hidden,
.form-check-input {
	display: none;
}

.custom-file-upload {
	cursor: pointer;
}

.settings-img {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
}

.canvas_container {
	position: relative;
	padding: 0;
	overflow: hidden;
}

.canvas_sup {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 33%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}

.photo {
	width: 100%;
}

.player {
	display: none;
}

.sup {
	width: 5rem;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem;
}

.gallery-item {
	flex: 1 0 20rem;
	margin: 1rem;
	overflow: hidden;
	border-radius: 3px;
	position: relative;
}

.main_img-container {
	position: relative;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		grid-gap: 1rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}

input[type=radio]:checked + label {
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
}

.gallery-item .gallery-item-overlay,
.main_img-container .main_img-overlay {
	background: rgba(0, 0, 0, .4);
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.gallery-item:hover .gallery-item-overlay,
.main_img-container:hover .main_img-overlay {
	opacity: 1;
}

.main_img-img, .main_img-overlay {
	border-radius: 2.5rem;
	width: 100%;
	min-height: 15rem;
}

.gallery-item-image {
	width: 100%;
}

.gallery-item-details,
.main_img-details {
	position: absolute;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.main_img-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.main_img-details > .up,
.main_img-details > .down {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.main_img-details > .down {
	justify-content: flex-end;
	align-items: center;
}

.main_img-details_back,
.main_img-details_edit,
.main_img-details_del,
.main_img-details_like,
.like_count {
	padding: .5rem 1rem;
	color: rgba(255, 255, 255, .4);
	font-size: 3rem;
	cursor: pointer;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
}

.main_img-details_like.active {
	color: #417fff;
}

.like_count {
	padding: 0;
}

.main_img-details_back:hover,
.main_img-details_edit:hover,
.main_img-details_del:hover,
.main_img-details_like:hover {
	color: rgba(255, 255, 255, .9);
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
}

.main_img-details_like:focus {
	outline: none;
}

.main_img-details_like.active:hover {
	color: #ff414b;
	transform: rotate(-180deg) scale(.85) translateY(-1rem);
	-webkit-transform: rotate(-180deg) scale(.85) translateY(-1rem);
	-moz-transform: rotate(-180deg) scale(.85) translateY(-1rem);
}

.main_img-details_like {
	font-size: 4rem;
}

.main_img-details_back {
	order: -1;
	margin-right: auto;
}

.main_img-details_del,
.main_img-details_like {
	background: none;
	border: none;
}

.gallery-item:hover .gallery-item-details {
	top: 60%;
	left: 50%;
	opacity: 1;
}

.main_img-container:hover .main_img-details {
	height: 100%;
	top: 0%;
	left: 50%;
	opacity: 1;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
}

.gallery-item-details h3 {
	color: #fff;
	font-weight: 100;
	margin-bottom: 0.5em;
}

.gallery-item-details p {
	color: #fff;
	font-size: 0.8em;
}

.gallery-item-details_interaction {
	display: flex;
	justify-content: center;
}

.gallery-item-details_like, .gallery-item-details_cmnt {
	color: white;
	display: flex;
	flex-direction: column;
}
.gallery-item-details_like-icon, .gallery-item-details_cmnt-icon {
	font-size: 2rem;
}

.fadeIn-bottom {
	top: 80%;
}

.fadeIn-left {
	left: 20%;
}

.cmnt {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}

.cmnt-img_container {
	width: 3.5rem;
	height: 3.5rem;
	flex-grow: 0;
}

.cmnt-body {
	flex-grow: 1;
	flex-basis: 20em;
	border-radius: 2rem;
	background: #F2F3F5;
	line-height: 1.5;
	position: relative;
	/* box-shadow: 0 1px 3px rgba(52, 58, 64, .3); */
}

.cmnt-time, .img-time {
	font-size: .9rem;
	color: #707070;
	position: absolute;
	top: 101%;
	right: 1%;
}

.cmnt-body .lead {
	color: #343A40;
}

.cmnt-img {
	width: 90%;
	height: 90%;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	/* box-shadow: 0 .5px 3px rgba(52, 58, 64, .5),
				0 1px 6px rgba(52, 58, 64, .2); */
}

.cmnt-del {
	position: absolute;
	top: .5rem;
	right: -1.5rem;
	transform: translate(-50%, -50%);
}

.cmnt-del_btn {
	cursor: pointer;
	background: none;
	border: none;
	font-size: 1.5rem;
	color: #343A40;
}

.cmnt-del_btn:focus {
	outline: none;
}

#comment {
	border-radius: 2rem;
	background: #F2F3F5;
	padding-right: 4rem;
	padding-left: 1.5rem;
	/* box-shadow: inset 0 .5px 3px rgba(52, 58, 64, .2); */
}

#comment:focus {
	outline: none;
}

.cmnt-input {
	flex-grow: 1;
	flex-basis: 20em;
	position: relative;
}

.cmnt-submit {
	height: 100%;
	position: absolute;
	top: 50%;
	right: .5%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	border: none;
	background: transparent;
	width: 2.5rem;
	cursor: pointer;
}

.cmnt-submit_icon {
	color: #343A40;
	transform: scale(2);
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
}

.invalid-feedback,
.cmnt-feedback {
	position: absolute;
	top: 105%;
	left: 2%;
}

.cmnt-submit:focus {
	outline: none;
}

.cmnt-submit:hover .cmnt-submit_icon,
.cmnt-submit:focus .cmnt-submit_icon {
	transform: scale(2.2) rotate(20deg) translateY(-2px);
	-webkit-transform: scale(2.2) rotate(20deg) translateY(-2px);
	-moz-transform: scale(2.2) rotate(20deg) translateY(-2px);
	color: #424950;
}

.overlay {
	position: fixed;
	background: rgba(0, 0, 0, .6);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all .3s ease-in-out;
	display: none;
}

.likes-box,
.change_password-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	width: 29rem;
	border-radius: 1rem;
	min-height: 3rem;
	box-shadow: 0 1px 10px rgba(0, 0, 0, .2),
				0 1px 2px rgba(0, 0, 0, .4);
}

.change_password-box {
	width: 45rem;
}

.likes-item {
	display: flex;
	align-items: center;
}

.likes-item_img {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
}

.likes-item_name {
	flex: 1;
	font-size: 1.33rem;
	text-transform: capitalize;
	letter-spacing: 1px;
	line-height: 2;
}

.likes-close_btn {
	position: absolute;
	background: none;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	font-size: 2rem;
	right: 0;
	top: 0;
	transform: translate(0, -10%);
}

.likes-close_btn:focus {
	outline: none;
}

.likes-counter {
	position: absolute;
	top: 101%;
	left: 5%;
	font-size: 1.2rem;
	cursor: pointer;
	color: #417fff;
}

.add_container {
	position: relative;
}

.add_container-del {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 2rem;
	color: #343A40;
	transform: translate(-25%, -5%);
	transition: all .3s ease-in;
}

.add_container-del:hover {
	color: #343A40;
	transform: scale(1.2) translate(-25%, -5%);
}

.nav-menu-icon {
	font-size: 1.5rem;
	line-height: 1.8rem
}

.alert {
	border-radius: 2rem;
}

.form-group {
	position: relative;
	margin-bottom: 2rem;
}

.invalid-feedback {
	top: 100%;
}
